In [12]:
#1. Create a tuple with integers from 1 to 5.
t1=tuple((range(1,6)))
print(t1,type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [13]:
# 2. Access the third element of a tuple.
t1[2]

3

In [14]:
# 3. Find the length of a tuple without using the `len()` function.
count=0
for i in t1:
    count+=1
print("Length of t1=",t1,"is",count)

Length of t1= (1, 2, 3, 4, 5) is 5

In [17]:
# 4. Count the occurrences of an element in a tuple.
def count_occurance(t1,a):
    a= t1.count(a)
    return a
t1=(1,2,3,4,5,6,1,2)
count_occurance(t1,1)

2

In [20]:
# 5. Find the index of the first occurrence of an element in a tuple.
def count_occurance(t1,a=t1[1]):
    a= t1.count(a)
    return a
t1=(2,2,3,4,5,6,1,2)
count_occurance(t1)

3

In [23]:
# 6. Check if an element exists in a tuple.
def element_exits(t1,a):
    for i in t1:
        if i==a:
            print("Element is exists in a tuple=",a)
            break
        else:
            print("Element is not exists in a tuple")
element_exits(t1,2)

Element is exists in a tuple= 2

In [24]:
# 7. Convert a tuple to a list.
l1=list(t1)
l1

[2, 2, 3, 4, 5, 6, 1, 2]

In [26]:
# 8. Convert a list to a tuple.
t1=tuple(l1)
t1

(2, 2, 3, 4, 5, 6, 1, 2)

In [29]:
# 9. Unpack the elements of a tuple into variables.
t1=(1,2,3)
a,b,c=t1

In [30]:
print(a,b,c)

1 2 3

In [34]:
#10. Create a tuple of even numbers from 1 to 10.
t1=(i for i in range(1,11) if i%2==0 )
for i in  t1:
    print(i)

2
4
6
8
10

In [36]:
# 11. Create a tuple of odd numbers from 1 to 10.
t2=(i for i in range(1,11) if i%2!=0 )
for i in  t2:
    print(i)

1
3
5
7
9

In [38]:
#12. Concatenate two tuples.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

In [41]:
# 13. Repeat a tuple three times.
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [44]:
# 14. Check if a tuple is empty.
def check_tup(t1):
    if len(t1)==0:
        print("Tuple is empty")
t1=()
check_tup(t1)

Tuple is empty

In [54]:
#15. Create a nested tuple
t1=(1,2,3,(19,2,3),4,5,6,(7,8,9),11,22,33)
print(t1)

(1, 2, 3, (19, 2, 3), 4, 5, 6, (7, 8, 9), 11, 22, 33)

In [58]:
# 16. Access the first element of a nested tuple
a=t1[3]
b=a[0]
print(t1)
print(a)
print(b)

(1, 2, 3, (19, 2, 3), 4, 5, 6, (7, 8, 9), 11, 22, 33)
(19, 2, 3)
19

In [63]:
# 17. Create a tuple with a single element.
t1=(1,)
print(t1,type(t1))

(1,) <class 'tuple'>

In [77]:
# 18. Compare two tuples.
def compare_2tuples(t1,t2):
    if t1==t2:
        print("Both tuples are equal")
    else:
        print("Both tuples are not equal")
compare_2tuples((1,2,3),(1,2,3))

Both tuples are equal

In [78]:
#19. Delete a tuple.
t1

(1, 2, 3)

In [79]:
del(t1)

In [84]:
#20. Slice a tuple
t1=(1,2,3,4,5,6)
print(t1[1:4])
print(t1[::-1])

(2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [96]:
# 21. Find the maximum value in a tuple
t1=(11,22,33,44,55,66,222)
print(max(t1))

222

In [97]:
# 22. Find the minimum value in a tuple.
min(t1)

11

In [127]:
#23. Convert a string to a tuple of characters.
s1="lalit"
t2=tuple(s1)
t2

('l', 'a', 'l', 'i', 't')

In [123]:
#24. Convert a tuple of characters to a string.
t1=('l','a','l','i','t')
s1="".join(t1)
print(s1,type(s1))

lalit <class 'str'>

In [129]:
# 25. Create a tuple from multiple data types.
t1=(1,2.3,"lalit",True,3+3j,False,100,(2,3,3),[2,2,2],None,{2,31,1})
t1

(1,
 2.3,
 'lalit',
 True,
 (3+3j),
 False,
 100,
 (2, 3, 3),
 [2, 2, 2],
 None,
 {1, 2, 31})

In [130]:
 #26. Check if two tuples are identical.
t1=(1,2,3)
t2=(2,3,4)
if t1==t2:
    print("Both tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

In [137]:
# 27. Sort the elements of a tuple.
t1=(9,1,3,4,2,5,2)
l1=list(t1)
l1.sort()
t2=tuple(l1)
print(t2,type(t2))

(1, 2, 2, 3, 4, 5, 9) <class 'tuple'>

In [145]:
# 28. Convert a tuple of integers to a tuple of strings.
t1=(1,2,3,4)
t2=tuple(str(x) for x in t1)
print(t2,type(t2))

In [155]:
# 29. Convert a tuple of strings to a tuple of integers.
t1=('1','2','3','4')
t2=tuple(int(x) for x in t1)
t2

(1, 2, 3, 4)

In [156]:
# 30. Merge two tuples.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [162]:
# 31. Flatten a nested tuple.

In [163]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5) + 1):
        if n%i==0:
            return False
    return True

first_five_prime=tuple(num for num in range(1,20)if is_prime(num))[:5]
print(first_five_prime)

(2, 3, 5, 7, 11)

In [167]:
# 33. Check if a tuple is a palindrome.
t1=("r","a","c","e","c","a","r")
if t1[::1]==t1[::-1]:
    print("The Given tuple is palindrome")
else:
    print("The Give tuple is not palindrome")

The Given tuple is palindrome

In [171]:
#34. Create a tuple of squares of numbers from 1 to 5.
t1=tuple(i**2 for i in range(1,6))
t1

(1, 4, 9, 16, 25)

In [173]:
# 35. Filter out all even numbers from a tuple.
t2=(1,2,3,4,5,6,9)
t1=tuple(i for i in t2 if i%2==0)
t1

(2, 4, 6)

In [175]:
# 36. Multiply all elements in a tuple by 2.
t1=tuple(i*2 for i in t2 )
t1

(2, 4, 6, 8, 10, 12, 18)

In [181]:
# 37. Create a tuple of random numbers.
import random
random_num=tuple(random.randint(1,100) for i in range(5))
print(random_num)

(7, 87, 55, 31, 26)

In [192]:
#38. Check if a tuple is sorted.
t1=(7, 87, 55, 31, 26)
for i in range(len(t1)-1):
    if t1[i]>t1[i+1]:
         pass
    else:
        print("False")
        break

False

In [193]:
# 39. Rotate a tuple to the left by `n` positions.
def rotate_list(l1,n):
    n=n%len(l1)
    new_lst=l1[n:]+l1[:n]
    return new_lst
l1=[1,2,3,4,5,6,7]
n=2
rotate_list(l1,n)

[3, 4, 5, 6, 7, 1, 2]

In [194]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_list(l1,n):
    n=n%len(l1)
    new_lst=l1[-n:]+l1[:-n]
    return new_lst
l1=[1,2,3,4,5,6,7]
n=2
rotate_list(l1,n)

[6, 7, 1, 2, 3, 4, 5]

In [37]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
num=10
n1,n2=0,1
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3)

1
2
3
5
8
13
21
34

In [10]:
# 42. Create a tuple from user input.
t1=tuple(input("Enter a Value separated by space").split())
print(t1)

Enter a Value separated by space1 2 3 4
('1', '2', '3', '4')

In [16]:
# 43. Swap two elements in a tuple.
t1=(1,2,3,4,5)
l1=list(t1)

l1[0],l1[1]=l1[1],l1[0]
t2=tuple(l1)
print(t2)

(2, 1, 3, 4, 5)

In [17]:
# 44. Reverse the elements of a tuple.
print(t1[::-1])

(5, 4, 3, 2, 1)

In [18]:
#45. Create a tuple of the first `n` powers of 2.
l1=[i**2 for i in range(1,11)]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# 46. Find the longest string in a tuple of strings.
t1=("lalit","ganesh","borase","fromDhule")
l1=[]
for i in t1:
    a=len(i)
    l1.append(a)
    b=max(l1)
    c= l1.index(b)
print("Longest String in a tuple is:-",t1[c])

Longest String in a tuple is fromDhule

In [28]:
#47. Find the shortest string in a tuple of strings.
t1=("lalit","ganesh","borase","fromDhule")
l1=[]
for i in t1:
    a=len(i)
    l1.append(a)
    b=min(l1)
    c= l1.index(b)
print("Longest String in a tuple is:-",t1[c])

Longest String in a tuple is:- lalit

In [29]:
#48. Create a tuple of the first `n` triangular numbers.
l2=[]
def triangular_numbers(n):
    for i in range(1,n+1):
        result=i*(i+1)//2
        l2.append(result)
    print(l2)
triangular_numbers(5)

[1, 3, 6, 10, 15]

In [32]:
# 49. Check if a tuple contains another tuple as a subsequence.
def check_sublist(l1):
    
    s1=str(l1)
    print(s1,type(s1))
    for i in s1:
        a= s1.count("(")
    if a==2:
        print("Tuple contais another list as a subsequence")
    else:
        print("Tuple not contains another subsequence")
l1=(1,3,(1,2,3))
l2=(1,2,3)
check_sublist(l1)

(1, 3, (1, 2, 3)) <class 'str'>
Tuple contais another list as a subsequence

In [34]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n=int(input("Enter the lenght of tuple:-"))
alter_tuple=tuple((i%2) for i in range(n))
print(alter_tuple)

Enter the lenght of tuple:-10
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
#assignment of set data type

In [5]:
# 1. Create a set with integers from 1 to 5.
s1=set((range(1,6)))
print(s1,type(s1))

{1, 2, 3, 4, 5} <class 'set'>

In [6]:
#2. Add an element to a set.
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [8]:
# 3. Remove an element from a set.
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

In [9]:
# 4. Check if an element exists in a set.
n=5
n in s1

True

In [12]:
#5. Find the length of a set without using the `len()` function.
count=0
for i in s1:
    count+=1
print(count)

5

In [15]:
# 6. Clear all elements from a set.
s1.clear()
print(s1)

set()

In [17]:
#7. Create a set of even numbers from 1 to 10.
s1={i for i in range(1,11) if i%2==0}
print(s1,type(s1))

{2, 4, 6, 8, 10} <class 'set'>

In [19]:
#8. Create a set of odd numbers from 1 to 10.
s1={i for i in range(1,11) if i%2!=0}
print(s1,type(s1))

{1, 3, 5, 7, 9} <class 'set'>

In [20]:
#9. Find the union of two sets.
s1={1,2,3}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [21]:
#10. Find the intersection of two sets.
s1={1,2,3}
s2={3,4,5}
s1.intersection(s2)

{3}

In [38]:
# 11. Find the difference between two sets.
set1={1,2,3,4,5}
set2={3,4,5,6,7}
diff1=set1-set2
print(diff1)
diff2=set1.difference(set2)
print(diff2)

diff3=set2-set1
print(diff3)
diff4=set2.difference(set2)
print(diff4)

{1, 2}
{1, 2}
{6, 7}
set()

In [40]:
#12. Check if a set is a subset of another set.
set1={1,2,3,4,5,6,7,8,9,10}
set2={1,2,3}
set2.issubset(set1)

True

In [42]:
#13. Check if a set is a superset of another set.
set1={1,2,3,4,5,6,7,8,9,10}
set2={1,2,3}
set1.issuperset(set2)

True

In [46]:
# 14. Create a set from a list.
l1=[1,2,3,4,5,"lalit","borase",5,6,1,2,220]
s1=set(l1)
print(s1)

{1, 2, 3, 4, 5, 6, 220, 'lalit', 'borase'}

In [48]:
#15. Convert a set to a list.
s1={1, 2, 3, 4, 5, 6, 220, 'lalit', 'borase'}
l1=list(s1)
print(l1)

[1, 2, 3, 4, 5, 6, 'borase', 'lalit', 220]

In [49]:
# 16. Remove a random element from a set.
s1.remove(220)
print(s1)

{1, 2, 3, 4, 5, 6, 'borase', 'lalit'}

In [58]:
#17. Pop an element from a set.
s1={1,2,3,4,45,5,6,2,5}
s1.pop()
print(s1)
s1.pop()
print(s1)

{2, 3, 4, 5, 6, 45}
{3, 4, 5, 6, 45}

In [60]:
#18. Check if two sets have no elements in common.
s1={1,2,3,4,5}
s2={5,6,7,8,9,10}
s1.isdisjoint(s2)
s3={1,2,3}
s4={11,22,33}
s3.isdisjoint(s4)

True

In [62]:
#19. Find the symmetric difference between two sets.
s2.symmetric_difference(s1)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [70]:
# 20. Update a set with elements from another set.
s1={1,2,3}
s2={3,4,5}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5}

In [75]:
# 21. Create a set of the first 5 prime numbers.
def num_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

first_five_prime=tuple(num for num in range(1,20) if num_prime(num))[:5]
s1=set(first_five_prime)
print(s1)

{2, 3, 5, 7, 11}

In [77]:
#22. Check if two sets are identical.
s1={1,2,3}
s2={1,2,3,4}
if s1==s2:
    print("Both sets are identical")
else:
    print("Both sets are not identical")

In [78]:
#23. Create a frozen set.
s1={1,2,3,4,5,6}
fs=frozenset(s1)
print(fs)

frozenset({1, 2, 3, 4, 5, 6})

In [87]:
#24. Check if a set is disjoint with another set.
def check_set_disjoint(s1,s2):
    if s1.isdisjoint(s2):
        return True
    else:
        return False
s1={1,2,3} 
s2={4,5,6}
check_set_disjoint(s1,s2)

True

In [89]:
#25. Create a set of squares of numbers from 1 to 5.
s1={i**2 for i in range(1,6)}
print(s1)

{1, 4, 9, 16, 25}

In [92]:
# 26. Filter out all even numbers from a set.
s1={1,2,3,4,5,6,7}
s2=set()
for i in s1:
    if i%2==0:
        s2.add(i)
    else:pass
print(s2)

{2, 4, 6}

In [94]:
#27. Multiply all elements in a set by 2.
s1={1,2,3,4,5,6,7,8,9,10}
s2={i*2 for i in s1}
print(s2)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [97]:
#28. Create a set of random numbers.
import random
random_num=set(random.randint(1,1000) for i in range(5))
print(random_num)

{137, 428, 273, 660, 506}

In [99]:
# 29. Check if a set is empty.
def check_set_isEmpty(s1):
    if len(s1)==0:
        print("Set is Empty")
    else:
        print("Set is not Empty")
s1={1,2,3,4}
s2=set()
check_set_isEmpty(s2)

Set is Empty

In [103]:
#30. Create a nested set (hint: use frozenset).
nested_set=frozenset([
    frozenset([1,2,3]),
    frozenset(['lalit','borase']),
])
print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({'lalit', 'borase'})})

In [104]:
#31. Remove an element from a set using the discard method.
s1={1,2,3,4,5,6,7,8,9,10}
s1.discard(10)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [106]:
# 32. Compare two sets.
s1={1,2,3}
s2={4,5,6}
if s1==s2:
    print("Both are identical")
else:
    print("Both are don't identical")

Both are don't identical

In [111]:
#33. Create a set from a string.
s1="Lalit"
s2=set(s1)
print(s2)

{'l', 't', 'L', 'i', 'a'}

In [115]:
# 34. Convert a set of strings to a set of integers.
s1={'1','2','3','4','5'}
s2={int(i) for i in s1}
print(s2)

{1, 2, 3, 4, 5}

In [118]:
#35. Convert a set of integers to a set of strings.
s1={1,2,3,4,5}
s2={str(i) for i in s1}
print(s2)

{'5', '3', '2', '1', '4'}

In [120]:
#36. Create a set from a tuple.
t1=(1,2,3,4)
s1=set(t1)
print(s1)

{1, 2, 3, 4}

In [122]:
# 37. Convert a set to a tuple.
s1={1,2,3,4,5}
t1=tuple(s1)
print(t1)

(1, 2, 3, 4, 5)

In [123]:
# 38. Find the maximum value in a set.
s1={11,22,33,44,55,99,110}
l1=list(s1)
print(max(l1))

110

In [124]:
# 39. Find the minimum value in a set.
s1={11,22,33,44,55,99,110}
l1=list(s1)
print(min(l1))

11

In [130]:
# 40. Create a set from user input.
s1={i for i in input().split()}
print(s1)

11 22 33 44 44 55
{'55', '11', '33', '44', '22'}

In [145]:
#41. Check if the intersection of two sets is empty.
s1={1,2,3}
s2={4,5,6}
a=s1.intersection(s2)
if len(a)==0:
    print("Intersection of two sets are empty")
else:
    print("Intersection of two sets are not empty")

Intersection of two sets are empty

In [150]:
#42. Create a set of the first 5 Fibonacci numbers.
num=10
a,b=0,1
for i in range(0,10):
    n3=a+b
    a=b
    b=n3
    print(n3,end=' ')

1 2 3 5 8 13 21 34 55 89

In [151]:
# 43. Remove duplicates from a list using sets.
l1=[11,11,22,33,44,55,66,66]
s1=set(l1)
l2=list(s1)
print(l2)

[33, 66, 11, 44, 22, 55]

In [157]:
#44. Check if two sets have the same elements, regardless of their count.
s1={1,2,3,4}
s2={4,3,2,1}
if s1==s2:
    print("The sets have the same elements")
else:
    print("The sets do not have the same elements")

The sets have the same elements

In [159]:
#45. Create a set of the first `n` powers of 2.
n=10
s1=set(i**2 for i  in range(1,n))
print(s1)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [163]:
#46. Find the common elements between a set and a list.
def common_elements(l1,l2):
    for i in list1:
        if i in list2:
            print("Common Elements are",i)
set1={1,2,3,4}
set2={3,4,5,6}
list1=list(set1)
list2=list(set2)
common_elements(list1,list2)

Common Elements are 3
Common Elements are 4

In [168]:
#47. Create a set of the first `n` triangular numbers.
s2=set()
def triangular_numbers(n):
    for i in range(1,n+1):
        result=i*(i+1)//2
        s2.add(result)
    print(s2)
triangular_numbers(5)

{1, 3, 6, 10, 15}

In [170]:
#48. Check if a set contains another set as a subset.
set1={1,2,3,4,5,6}
set2={2,4}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [171]:
#49. Create a set of alternating 1s and 0s of length `n`.
n=int(input("Enter the lenght of set:-"))
alter_set=set((i%2) for i in range(n))
print(alter_set)

Enter the lenght of set:-10
{0, 1}

In [174]:
# 50. Merge multiple sets into one.
nested_set=frozenset([
    frozenset([1,2,3]),
    frozenset(['lalit','borase']),
    frozenset([11,22,33,44,55])
])
print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({33, 11, 44, 22, 55}), frozenset({'lalit', 'borase'})})